// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base
$color-mariner:                   #4764b0;
$color-nero:                      #1e1e1e;
$color-white-smoke:               #f5f0f0;
$color-very-light-grey:           #d2c8c8;

// Typography
//---------------------------------

$font-family--main:               "Arial", sans-serif;

// Animation
//---------------------------------

$trans--300:                        0.3s ease;
$trans--600:                        0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$vp--330:                           330px;
$vp--700:                           700px;
$vp--1020:                          1020px;
$vp--1340:                          1340px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
